:root {
  /* Colors */
  --color-black: #000;
  --color-gainsboro: #d9d9d9;
  --color-dimgray: #6b6b6b;
  --color-white: #fff;
  --color-red-200: #8360C3;
  --color-red-100: #654EA3;
  --color-yellow-100:#2EBF91;
  --color-blue-100: #A8FF78;
  --color-blue-200:#EAAFC8;
  --color-blue-300: #78FFD6;
}